@font-face {
  font-family: 'Ewert';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ewert/v14/va9I4kzO2tFODbBoQeM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul, ol{
    list-style:none;
}
a{
    text-decoration:none;
    color:black}

header{
    text-align:center;

}
header h1 {
    font-size: 30px;
    padding: 25px 0px 25px 0px;
    background-color: rgba(181,137,241,0.9);
    font-family: 'Ewert', cursive;
}
table, th,td {
  border: 1px solid black;
  margin:auto;
  background-color: rgba(225,225,225,0.9);
  width: 100%;
}
table{
    margin-bottom: 60px;
}
html{
    background-image: url("../img/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;

}

#footerP{
    background-color:rgba(181,137,241,0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    padding: 25px 0px 25px 0px;
}
#iconos{
    position: absolute;
    bottom: 0%;
    right:4%;
}
.iconoIMG{
    width: 50px;
    height: 50px
}
#divLista{
        width: 380px;     
        position: absolute;
        top:30%;
        left: 45%;           
        margin-top: -100px;
        margin-left: -100px;
}
.img{
    width: 50px;
    height: 50px
    
}
.hecho{
    background-color: greenyellow;
}
.no_hecho{
    background-color: red;
}